body{background-color: #E0FFFF}
p{

color: #0000FF;
font-size: 14px;

}
h1{
color: #000000;
font-size: 32px

}
 button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   }
#p2{color: black;
font-size: 23px;

}
#button2{

 background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}
/*P E N G U I N S FOREVAH*/

hr{
width: 20px;
color: #00008B;
