body{background-color: #6B4984  
}


button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 8px; 
    padding: 15px 15px;
    border: 0px;
    background-color: #6B4984;
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

button:hover {
    background-color: #008CBA; 
    color: white;
}
p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 300px;
    margin-left: 300px;
    font-size: 18px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;


}




a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: underline;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}


h3{
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}

h1{
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: oblique;
    font-size: 25px;
 

}

h2{
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;



}







