body{background-color: #8138c1}


button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 8px; 
    padding: 20px 30px;
    border: 0px;
    background-color: #8138c1;
    font-size: 20px;
}

button:hover {
    background-color: #008CBA; 
    color: white;
}
p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 150px;
    size: large;

}
a {
	color: black;


}


