body{background-color: #ADD8E6
}


button {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 8px; 
    padding: 20px 30px;
    border: 0px;
    background-color: #ADD8E6
;
    font-size: 20px;
}

button:hover {
    background-color: #008CBA; 
    color: white;
}
p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 150px;
    margin-left: 150px;
    font-size:20px
}




a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: underline;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

.





