body{background-color: #E0FFFF}
p{

color: #0000FF;
font-size: 14px;

}
h1{
color: #000000;
font-size: 32px

}
 button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;